<div class="panel panel-primary" *ngIf="line">
  <div class="panel-heading">
    {{ pageTitle + " : " + line.number }}
  </div>

  <!--
    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/lines', line.id, 'edit']">
            Edit
        </a>
        <a class="btn btn-primary" [routerLink]="['/lines', line.id, 'editReactive']">
            Edit Reactive
        </a>
    </div> -->
</div>
